In [1]:
import pandas as pd

In [3]:
# Nacteme dataframe casu reseni
times = pd.read_csv('data/robotanik-user-problem-time.csv', index_col=0)

## Explorativní analýza dat

In [6]:
# Mame kolem 9000 uzivatelu (radky) a 80 uloh (sloupce)
times.shape

(9161, 78)

In [7]:
# Kazda uloha ma svuj identifikator
times.columns

Index(['635', '636', '637', '638', '639', '640', '641', '642', '643', '644',
       '645', '646', '647', '648', '649', '650', '651', '652', '653', '654',
       '655', '656', '657', '658', '659', '660', '661', '662', '663', '664',
       '665', '666', '667', '668', '669', '670', '671', '672', '673', '674',
       '675', '676', '677', '678', '679', '680', '681', '682', '683', '696',
       '697', '698', '699', '700', '701', '702', '703', '704', '705', '706',
       '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1401', '1402',
       '1403', '1404', '1405', '1406', '1407', '1704', '1705', '1706', '1707'],
      dtype='object')

In [9]:
# Prvnich par radku matice vypada takto (NaN = "not a number" - uzivatel danou ulohu neresil/nevyresil)
times.head()

,635,636,637,638,639,640,641,642,643,644,...,1402,1403,1404,1405,1406,1407,1704,1705,1706,1707
Login,,,,,,,,,,,,,,,,,,,,,
U1,25.0,13.0,14.0,38.0,NaN,459.0,NaN,NaN,NaN,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U2,10.0,5.0,49.0,19.0,92.0,23.0,57.0,40.0,42.0,211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,185.0,113.0,36.0,73.0
U4,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U5,52.0,39.0,25.0,19.0,364.0,25.0,99.0,NaN,56.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U6,68.0,20.0,32.0,18.0,NaN,42.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TBA...

## Strojové učení
TBA